@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cstm_xprmntl_03regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/blackletter.woff2") format("woff2"),
    url("../fonts/blackletter.woff") format("woff");
}

@font-face {
  font-family: "snellregular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/snellbt-regular-webfont.woff2") format("woff2"),
    url("../fonts/snellbt-regular-webfont.woff") format("woff");
}

body {
  @apply bg-white;
}

article p {
  @apply mb-8;
}

article p:last-child {
  @apply mb-0;
}

.rotate {
  transform: rotateY(45deg);
  animation: rotateAnimation 2s linear infinite;
}

.hopeless {
  transform-origin: top center;
}

@screen lg {
  .hopeless {
    transform-origin: top right;
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(45deg);
  }
  to {
    transform: rotateY(225deg);
  }
}
