@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./modal.css";

@font-face {
  font-family: "cstm_xprmntl_03regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/blackletter.woff2") format("woff2"),
    url("../fonts/blackletter.woff") format("woff");
}

@font-face {
  font-family: "snellregular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/snellbt-regular-webfont.woff2") format("woff2"),
    url("../fonts/snellbt-regular-webfont.woff") format("woff");
}

body {
  @apply bg-white;
}

.container {
  @apply mx-2 md:mx-8 border-r border-l;
}

main {
  margin-bottom: 100vh;
}

.menu {
  @apply duration-300 transition-all;
  transform: translate3d(10vw, 0, 0);
}

.menu.open {
  transform: unset !important;
}

.menu-bg {
  @apply bg-opacity-0 pointer-events-none;
}

.menu-bg.open {
  @apply bg-opacity-50 pointer-events-auto;
}

.rotate {
  transform: rotateY(45deg);
  animation: rotateAnimation 2s linear infinite;
}

.hopeless {
  transform-origin: top center;
}

@screen lg {
  .hopeless {
    transform-origin: top right;
  }
  main {
    margin-bottom: 50vh;
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(45deg);
  }
  to {
    transform: rotateY(225deg);
  }
}
